aside{
    height: 100%; 
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #3c64b9;
    overflow-x: hidden; 
    padding-top: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}
.icon{
    font-size: 50px;
    color: rgb(31, 29, 29);
}