.sidebar {
    width: 250px;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    background: #0E1A2B;
    color: white;

    border-right: 1px solid rgba(255, 255, 255, 0.08);

    display: flex;
    flex-direction: column;

    padding: 30px 20px;

    box-sizing: border-box;
}



.logo {
    display: flex;
    align-items: center;

    gap: 10px;

    margin-bottom: 50px;
}

.logoIcon {
    font-size: 40px;
    color: #12F7D6;
}


.pages {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.pages svg {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    color: #AAB6C5;
    cursor: pointer;
  
}

.pages svg:hover {
    color: #12F7D6;
    background: rgba(18, 247, 214, 0.08);

}



.bottom {
    margin-top: auto;

    padding-top: 25px;

    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.preferenceSec {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
}



.toggle {
    display: flex;

    gap: 8px;
}

.toggle button {
    flex: 1;

    padding: 10px;

    background: #121F30;

    color: #AAB6C5;

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.toggle button:hover {
    border-color: #12F7D6;

    color: #12F7D6;
}

.toggle button:first-child {
    background: #12F7D6;

    color: #08131F;

    font-weight: 700;
}