.theme {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.title {
    color: #AAB6C5;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.options {
    display: flex;
    gap: 10px;
    width: 100%;
}

.options button {
    flex: 1;
    padding: 12px 10px;

    background: #121F30;
    color: #AAB6C5;

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6px;

    cursor: pointer;
    font-size: 14px;

    box-sizing: border-box;

    transition: 0.3s;
}

.options button:hover {
    border-color: #12F7D6;
    color: #12F7D6;
}

.options button.active {
    background: #12F7D6;
    color: #08131F;

    border-color: #12F7D6;
    font-weight: 700;
}

.options button svg {
    font-size: 20px;
}