.mainContent{
    flex:1;
    display:flex;
    flex-direction:column;
    background:#8ab4e1;
    min-height:100vh;
}
.hero{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.heroCard{
    width: 100%;
    max-width: 950px;

}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:1rem;
}
.location{
    display:flex;
    align-items:center;
    gap:.6rem;
}
.locationIcon{
    color:#12F7D6;
    font-size:1.3rem;
}
.weatherIcon{
    margin-right: 60%;
    font-size:4rem;
    color:#FFD54F;
}
.date{
    color:#A5B4C7;
    margin-bottom:2rem;
}
.temperatureSection{
    display:flex;
    justify-content:center;
    align-items:center;
}

.temperature{
    font-size:6rem;
    font-weight:700;
    color:white;
}
.condition{
    text-align:center;
    margin-top:.5rem;

    
}
.feelsLike{
    text-align:center;
  

    margin-top:.4rem;
}